@font-face
  font-family: "Bringin"
  src: url("../fonts/bringin.otf")

@font-face
  font-family: "OpenSans-Bold"
  src: url("../fonts/OpenSans-Bold.ttf")

@font-face
  font-family: "Raleway-Black"
  src: url("../fonts/Raleway-Black.ttf")

@font-face
  font-family: "Raleway-Regular"
  src: url("../fonts/Raleway-Regular.ttf")

@font-face
  font-family: "OpenSans-Regular"
  src: url("../fonts/OpenSans-Regular.ttf")


$Blue: #36aeea
$Gray: #95a5ad
$Gray-text: #949494

body
  font-size: 12px
  line-height: 1.5
  color: $Gray-text

nav a
  color: #9daeb6
  font-family: OpenSans-Bold
  padding-bottom: 10px

nav a:hover
  border-bottom: 2px solid #36aeea
  text-decoration: none
  color: #9daeb6

nav ul
  margin: 0px

.top-block
  background: url("../image/bg-top-block.jpg") no-repeat
  background-size: cover
  padding: 0px 0px
  &_logo
    font-family: Bringin
    font-size: 29px
    color: $Gray
    padding: 0px
    &_b
      color: $Blue
  &_button
    padding: 0px
  &_button button
    border: 4px solid $Blue
    padding: 10px 43px
    font-size: 12px
    font-family: Raleway-Black
    color: #36aeea
  &_button button:hover
    background: $Blue
    border: 4px solid $Blue
  &_header
    background: rgba(255, 255, 255, 0.2)
    padding-top: 22px
    padding-bottom: 20px
  &_col
    margin: 134px 0px 106px 0px
    border: 3px solid white
  &_box
    margin: 40px 25px
    h1:nth-child(1)
      margin-bottom: 0px
      font-family: OpenSans-Bold
      color: white
      text-transform: uppercase
      letter-spacing: 4px
      font-size: 50px
    h1:nth-child(2)
      font-family: Bringin
      color: #56c7ff
      margin-top: -30px
      font-size: 66px
  &_box p
    color: #d5dadd
    font-family: OpenSans-Regular
    padding: 18px 0px
    font-size: 18px
  &_box .btn
    background: $Blue
    border: 4px solid $Blue
    color: white
    font-family: Raleway-Regular
    text-transform: uppercase
    font-size: 14px
    font-weight: bold
    width: 253px
    height: 60px
  &_man
    z-index: 1
    left: 935px
    top: 140px

.about-us
  background: #f6f4f4
  &_cont
    padding: 0px 0px
  &_box h2
    font-family: OpenSans-Bold
    color: #2c2e37
    text-transform: uppercase
  &_box span
    font-family: OpenSans-Regular
    font-size: 14px
  &_image
    margin-top: -36px
    padding-left: 180px
    &_blog_1
      margin-top: -257px
      margin-left: -90px
      z-index: 2
    &_blog_2
      z-index: 2
  &_map
    z-index: 0
    position: absolute
    margin-left: 100px
    margin-top: 22px
  &_col
    padding-bottom: 40px
  &_col button
    background: $Blue
    color: white
    width: 130px
    height: 40px
    text-transform: uppercase
    font-family: OpenSans-Bold
    margin-top: 30px
    font-size: 12px
  &_col button:hover
    color: white


.journal
  background: white
  &_wave
    margin-top: 72px
    margin-bottom: 33px