@font-face {
  font-family: "Bringin";
  src: url("../fonts/bringin.otf");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Raleway-Black";
  src: url("../fonts/Raleway-Black.ttf");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "LeagueGothic-Regular";
  src: url("../fonts/LeagueGothic-Regular.otf");
}
body {
  font-size: 12px;
  line-height: 1.5;
  color: #949494;
}

.top-block {
  background: url("../image/bg-top-block.jpg") no-repeat;
  background-size: cover;
  padding: 0;
  overflow: hidden;
}
.top-block-logo {
  font-family: Bringin, serif;
  font-size: 29px;
  color: #95a5ad;
  padding: 0;
}
.top-block-logo__brand {
  color: #36aeea;
}
.top-block .nav__link {
  color: #9daeb6;
  font-family: OpenSans-Bold, serif;
}
.top-block .nav__link:hover {
  border-bottom: 2px solid #36aeea;
  text-decoration: none;
  color: #949494;
}
.top-block .nav__item {
  margin-right: 10px;
}
.top-block-header {
  background: rgba(255, 255, 255, 0.2);
  padding-top: 22px;
  padding-bottom: 20px;
}
.top-block-header__button {
  padding: 0;
}
.top-block-header__button button {
  border: 4px solid #36aeea;
  padding: 10px 43px;
  font-size: 12px;
  font-family: Raleway-Black, serif;
  color: #36aeea;
}
.top-block-header__button button:hover {
  background: #36aeea;
  border: 4px solid #36aeea;
  color: white;
}
.top-block-main {
  margin: 134px 0 106px 0;
  border: 3px solid white;
}
.top-block-main__box {
  margin: 40px 25px;
}
.top-block-main__box h1:nth-child(1) {
  margin-bottom: 0;
  font-family: OpenSans-Bold, serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 50px;
}
.top-block-main__box h1:nth-child(2) {
  font-family: Bringin, serif;
  color: #56c7ff;
  margin-top: -30px;
  font-size: 66px;
}
.top-block-main__box p {
  color: #d5dadd;
  font-family: OpenSans-Regular, serif;
  padding: 18px 0;
  font-size: 18px;
}
.top-block-main__button button {
  background: #36aeea;
  border: 4px solid #36aeea;
  color: white;
  font-family: Raleway-Regular, serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  width: 253px;
  height: 60px;
}
.top-block-main__button button:hover {
  color: white;
}
.top-block__man {
  z-index: 1;
  left: 935px;
  top: 138px;
}

@media (max-width: 1420px) {
  .top-block__man {
    display: none;
  }
}
@media (min-width: 1910px) {
  .top-block__man {
    display: none;
  }
}
@media (max-width: 768px) {
  .top-block-logo {
    text-align: center;
  }

  .top-block-header .nav {
    text-align: center;
    display: block;
  }
  .top-block-header .nav__menu-link {
    color: #36aeea;
    font-size: 25px;
    font-family: Raleway-Black, serif;
  }
  .top-block-header .nav__link {
    color: #95a5ad;
  }

  .top-block-header button:focus {
    outline-color: #36aeea;
  }

  .top-block-main {
    margin: 20px;
    flex: auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .top-block-header__button {
    text-align: center;
    margin-top: 10px;
  }
  .top-block-header__button button {
    padding: 7px 25px;
  }
}
@media (max-width: 360px) {
  .top-block-main {
    margin: 0;
    border: none;
  }
}
.about-us {
  background: #f6f4f4;
}
.about-us-cont {
  padding: 0;
}
.about-us-box__title {
  font-family: OpenSans-Bold, serif;
  color: #2c2e37;
  text-transform: uppercase;
  font-size: 16px;
}
.about-us-box__text {
  font-family: OpenSans-Regular, serif;
  font-size: 14px;
}
.about-us-image {
  margin-top: -36px;
  padding-left: 180px;
}
.about-us-image__blog-1 {
  margin-top: -257px;
  margin-left: -90px;
  z-index: 2;
}
.about-us-image__blog-2 {
  z-index: 2;
}
.about-us__map {
  z-index: 0;
  position: absolute;
  margin-left: 100px;
  margin-top: 22px;
  width: 60vw;
}
.about-us-col {
  padding-bottom: 40px;
  padding-left: 15px;
}
.about-us-box__button button {
  background: #36aeea;
  color: white;
  width: 130px;
  height: 40px;
  text-transform: uppercase;
  font-family: OpenSans-Bold, serif;
  margin-top: 30px;
  font-size: 12px;
}
.about-us-box__button button:hover {
  color: white;
}

@media (max-width: 1610px) {
  .about-us-image {
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .about-us {
    text-align: center;
  }
  .about-us-col {
    padding-left: 0;
  }
  .about-us-box__button button {
    width: 253px;
    height: 60px;
  }
}
@media (max-width: 991px) {
  .about-us-image {
    display: none;
  }
}
.journal {
  background: white;
}
.journal__title {
  margin-bottom: 70px;
  font-family: OpenSans-Bold, serif;
  font-size: 22px;
  color: #2c2e37;
}
.journal__wave {
  margin-top: 70px;
  margin-bottom: 30px;
}
.journal .card {
  border-style: none;
  height: 380px;
}
.journal__shadow {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 90px;
}
.journal-img img:nth-child(2) {
  position: absolute;
  top: 39%;
  left: 39%;
}
.journal-img__triangle {
  width: 0;
  height: 0;
  position: absolute;
}
.journal-img__triangle-lake {
  left: 50px;
  top: 97.5%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}
.journal-img__triangle-forest {
  right: 97.5%;
  top: 50px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 10px solid white;
}
.journal-img__triangle-mauntains {
  left: 97.5%;
  top: 50px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid white;
}
.journal .card-body {
  padding: 12% 8%;
}
.journal .card-link {
  font-size: 11px;
  text-transform: uppercase;
  font-family: OpenSans-Bold, serif;
  color: #16b5ef;
}
.journal .card-title {
  margin-top: 14%;
  margin-bottom: 7.8%;
  font-size: 16px;
  font-family: OpenSans-Bold, serif;
  color: #212121;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.journal .card-text {
  font-family: OpenSans-Regular, serif;
  font-size: 14px;
  margin-bottom: 0;
}
.journal .card-number {
  margin-top: 14%;
  color: black;
  font-family: "Times New Roman", serif;
  font-size: 14px;
}

.do-you {
  background-image: url("../image/form/back.png");
  background-size: cover;
  height: 652px;
  overflow: hidden;
}
.do-you__pine1 {
  margin-top: 238px;
  z-index: 1;
}
.do-you__pine1 img {
  margin-left: -20px;
}
.do-you__pine2 {
  margin-top: 30px;
  z-index: 2;
}
.do-you__pine2 img {
  margin-left: -70px;
}
.do-you__text {
  margin-top: 145px;
}
.do-you__text img {
  margin-bottom: 37px;
}
.do-you__text h2 {
  font-family: OpenSans-Bold, serif;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 30px;
}
.do-you__text span {
  font-family: OpenSans-Regular, serif;
  font-size: 16px;
}
.do-you-form {
  background: white;
  border-radius: 3px;
  margin-top: 30px;
}
.do-you-form__input {
  width: 244px;
  padding: 5px 0 5px 20px;
}
.do-you-form__phone {
  border-left: 2px solid #ebebeb;
}
.do-you-form input {
  border: none;
  font-size: 16px;
  font-family: OpenSans-Regular, serif;
  width: 100%;
  outline: none;
}
.do-you-form__button button {
  height: 57px;
  background: #36aeea;
  margin: 3px 3px 3px 0;
  width: 255px;
  color: white;
  text-transform: uppercase;
  font-family: OpenSans-Bold, serif;
  font-size: 16px;
}
.do-you-form__button button:hover {
  color: white;
}
.do-you-lock {
  font-family: OpenSans-Regular, serif;
  font-size: 14px;
  color: #36aeea;
  margin-top: 10px;
  margin-left: 3px;
}
.do-you-lock__img {
  margin-left: -3px;
  margin-right: 12px;
}

@media (max-width: 1200px) {
  .do-you {
    height: 500px;
  }

  .do-you-form {
    background: #f6f4f4;
  }

  .do-you-form__button {
    width: 100%;
  }
  .do-you-form__button button {
    width: 100%;
    margin: 0;
  }

  .do-you-form__input {
    width: 100%;
    padding: 0;
    margin-bottom: 5px;
  }
  .do-you-form__input label {
    width: 100%;
  }
  .do-you-form__input input {
    padding: 5px;
  }

  .do-you__text {
    text-align: center;
    margin-top: 30px;
  }

  .do-you-lock {
    width: 100%;
    margin-top: 10px;
  }

  .do-you-form__phone {
    border-left: none;
  }

  .do-you__pine1 .do-you__pine2 {
    display: none;
  }
}
.work {
  height: 700px;
}
.work-card__title {
  margin-top: 30px;
  font-family: Roboto-Black, serif;
  font-size: 18px;
  color: #2c2e37;
}
.work-card__text {
  font-family: Roboto-Light, serif;
  font-size: 16px;
}
.work__wave {
  margin-bottom: 30px;
  margin-top: 70px;
}
.work__title {
  font-family: OpenSans-Bold, serif;
  font-size: 30px;
  color: black;
  margin-bottom: 95px;
}
.work-point__grey {
  position: absolute;
  width: 30px;
  border-bottom: 2px dotted #f0f3f6;
  margin-left: -96px;
  margin-top: 105px;
}
.work-point__imggrey {
  margin-left: -20px;
}
.work-point__blue {
  position: absolute;
  width: 30px;
  border-bottom: 2px dotted #b5cddf;
  margin-left: 65px;
  margin-top: 79px;
}
.work-point__imgblue {
  margin-left: 6px;
}
.work-card__circle {
  width: 180px;
  height: 180px;
  background: #f0f3f6;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border-radius: 90px;
  z-index: 1;
}
.work-card__hexagon {
  margin-top: 25px;
}
.work-card__icon {
  position: absolute;
  margin-top: 67px;
  margin-left: -78px;
}
.work-card__des {
  margin-top: -90px;
}
.work-card-border {
  height: 166px;
  width: 79%;
  margin-top: -10px;
}
.work-card-border__con {
  border-top: 2px dashed #f0f3f6;
  border-left: 2px dashed #f0f3f6;
  width: 290px;
  border-bottom: 2px dotted #f0f3f6;
}
.work-card-border__grey {
  border-bottom-color: #b5cddf;
}
.work-card-border__blue {
  border-right: 2px dashed #f0f3f6;
  border-bottom-color: #b5cddf;
}
.work-card-border__circle {
  width: 48px;
  height: 48px;
  border: 3px solid #36aeea;
  border-radius: 24px;
  background: white;
  margin-left: -24px;
  margin-top: -24px;
  padding-top: 12px;
}
.work-card-border__4 {
  margin-right: -30px;
}
.work-card-arrow {
  width: 11px;
  height: 2px;
  background: linear-gradient(151deg, white 0%, #d6e0e7 100%);
  margin-top: 47.5%;
  margin-left: 50%;
  transform: rotate(45deg);
}
.work-card-arrow2 {
  width: 11px;
  height: 2px;
  background: linear-gradient(151deg, white 0%, #d6e0e7 100%);
  margin-top: 1.5%;
  margin-left: 50%;
  transform: rotate(-45deg);
}
.work-card-arrow__blue {
  background: linear-gradient(151deg, white 0%, #67a3cc 100%);
}

@media (max-width: 1199px) {
  .work-card-arrow__blue {
    display: none;
  }

  .work-card-arrow {
    display: none;
  }

  .work-card-arrow2 {
    display: none;
  }
}
@media (max-width: 575px) {
  .work-card__des {
    margin-top: 20px;
  }

  .work {
    height: 100%;
  }
}
.travel__wave {
  margin-bottom: 10px;
}
.travel .card-img-overlay {
  padding-top: 10px;
  padding-bottom: 10px;
}
.travel__title {
  font-family: OpenSans-Bold, serif;
  font-size: 30px;
  color: #2c2e37;
  padding-top: 10px;
}
.travel__map {
  position: absolute;
  margin-left: -5%;
  width: 67vw;
}
.travel-con {
  margin-top: 96px;
  color: white;
  font-size: 16px;
  font-family: OpenSans-Regular, serif;
}
.travel-card__title {
  font-size: 28px;
}
.travel-card__sum {
  font-size: 26px;
  font-weight: 900;
}
.travel-card__del {
  font-size: 18px;
  font-weight: normal;
}

@media (max-width: 1200px) {
  .travel__wave {
    margin-top: 70px;
  }

  .travel__map {
    left: 20%;
  }
}
@media (max-width: 1200px) and (min-width: 767px) {
  .travel-con {
    font-size: 12px;
  }

  .travel-card__sum {
    font-size: 12px;
  }

  .travel-card__del {
    font-size: 12px;
  }

  .travel-card__title {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .travel .card-deck {
    flex-direction: column;
    overflow: hidden;
  }

  .travel .card {
    border: none;
  }

  .travel-card .card-img {
    height: 300px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .travel-card__stars img {
    width: 100%;
  }
}
.travel-back {
  background-image: url("../image/travel/back_tavel.png");
  background-size: cover;
  height: 802px;
  margin-top: -330px;
}

@media (max-width: 767px) {
  .travel-back {
    margin-top: -700px;
  }
}
.gallery__wave {
  margin-top: 70px;
  margin-bottom: 35px;
}
.gallery__title {
  font-family: OpenSans-Bold, serif;
  font-size: 30px;
  color: #2c2e37;
}
.gallery__img {
  padding-top: 30px;
}
.gallery__img4 {
  margin-top: -8.3%;
}
.gallery__con {
  margin-top: 55px;
  margin-bottom: 77px;
}

@media (max-width: 760px) {
  .gallery__img4 {
    margin-top: 0;
  }
}
.linkline {
  background: #f8f9fa;
  height: 100%;
  padding: 70px 0;
}

@media (max-width: 768px) {
  .linkline {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .linkline__img {
    margin-top: 20px;
  }
}
.clients {
  background-image: url("../image/clients/mountins_back.png");
  height: 744px;
}
.clients__wave {
  margin-top: 70px;
  margin-bottom: 35px;
}
.clients__title {
  font-family: OpenSans-Bold, serif;
  font-size: 30px;
  color: #2c2e37;
}
.clients-con {
  margin-top: 60px;
}
.clients-con-con__text {
  font-size: 18px;
}
.clients-con__quotes {
  font-family: LeagueGothic-Regular, serif;
  font-size: 92px;
  margin: 0;
  height: 80px;
}
.clients-con__img {
  margin-top: 25px;
  font-size: 16px;
  color: #36aeea;
  font-family: OpenSans-Regular, serif;
}
.clients-con__img img {
  padding-right: 20px;
}

@media (max-width: 767px) {
  .clients .container {
    padding: 0;
  }

  .clients-con__block {
    padding: 0 25px 20px 25px;
  }

  .clients-con {
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
    border-radius: 5px;
    margin-bottom: 10%;
    width: 100%;
  }

  .clients-con__sign {
    font-size: 13px;
    text-shadow: 0.1px 0.1px 0.1px white;
    font-weight: bold;
  }
}
.contacts {
  background-image: url("../image/contacts_back.png");
  margin-top: -330px;
  padding-top: 145px;
  padding-bottom: 180px;
}
.contacts .form-group {
  margin-bottom: 0;
}
.contacts-form {
  width: 515px;
  margin: auto;
  padding: 43px 32px 50px 32px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  backdrop-filter: blur(30px);
}
.contacts-form__title {
  font-size: 36px;
  font-family: OpenSans-Bold, serif;
  letter-spacing: 5px;
  color: #36aeea;
  margin-bottom: 10px;
}
.contacts-form__text {
  font-family: OpenSans-Bold, serif;
  font-size: 16px;
  color: #383e4a;
  margin-bottom: 37px;
}
.contacts-form__input {
  padding: 26px 20px 26px 20px;
  font-size: 18px;
  font-family: Roboto-Light, serif;
}
.contacts-form__button {
  margin-top: 18px;
}
.contacts-form__button button {
  width: 100%;
  background: #36aeea;
  height: 65px;
  border: none;
  font-family: OpenSans-Bold, serif;
}
.contacts-form__button button:hover {
  background: #36aeea;
}

@media (max-width: 767px) {
  .contacts {
    padding-bottom: 10px;
  }
  .contacts .container {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .contacts-form {
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 20px;
    margin-top: 230px;
    margin-bottom: 20px;
  }
  .contacts-form__input {
    padding: 10px 5px 10px 5px;
    width: 90%;
    margin: auto;
  }

  .contacts-form__button {
    width: 90%;
    margin: 18px auto 50px;
  }
}
@media (max-width: 767px) and (min-width: 610px) {
  .contacts-form {
    margin-left: 10vw;
  }
}
@media (max-width: 480px) {
  .contacts {
    margin-top: -220px;
  }
  .contacts-form__text {
    margin-bottom: 10px;
  }
}
@media (max-width: 320px) {
  .contacts {
    margin-top: -150px;
  }
}
.footer {
  background-image: url("../image/footer.png");
  background-size: cover;
}
.footer-con {
  padding: 25px 0 15px;
}
.footer-con__text {
  font-family: OpenSans-Regular, serif;
  font-size: 18px;
  color: #6a95a3;
}
.footer-con__phone {
  font-family: Roboto-Black, serif;
  font-size: 27px;
  color: #7cc0d4;
}
.footer-con__img {
  width: 40px;
  height: 40px;
}

/*# sourceMappingURL=style.css.map */
