@font-face
  font-family: "Bringin"
  src: url("../fonts/bringin.otf")

@font-face
  font-family: "OpenSans-Bold"
  src: url("../fonts/OpenSans-Bold.ttf")

@font-face
  font-family: "Raleway-Black"
  src: url("../fonts/Raleway-Black.ttf")

@font-face
  font-family: "Raleway-Regular"
  src: url("../fonts/Raleway-Regular.ttf")

@font-face
  font-family: "OpenSans-Regular"
  src: url("../fonts/OpenSans-Regular.ttf")

@font-face
  font-family: "Roboto-Black"
  src: url("../fonts/Roboto-Black.ttf")

@font-face
  font-family: "Roboto-Light"
  src: url("../fonts/Roboto-Light.ttf")

@font-face
  font-family: "LeagueGothic-Regular"
  src: url("../fonts/LeagueGothic-Regular.otf")

$Blue: #36aeea
$Gray: #95a5ad
$Gray-text: #949494
$About_back: #f6f4f4
$Black-text: #2c2e37

html
  scroll-behavior: smooth

body
  font-size: 12px
  line-height: 1.5
  color: $Gray-text

.up-button
  position: fixed
  cursor: pointer
  z-index: 2
  padding: 0
  bottom: 75px
  right: 20px
  width: 64px
  height: 64px
  font-size: 36px
  color: $Blue
  font-weight: bold
  text-align: center
  border: 5px solid $Blue
  border-radius: 50%
  background-color: transparent
  display: none
  &:focus
    outline: none

.shown
  display: inline-block

.top-block
  background: url("../image/bg-top-block.jpg") no-repeat
  background-size: cover
  padding: 0
  overflow: hidden
  &-logo
    font-family: Bringin, serif
    font-size: 29px
    color: $Gray
    padding: 0
    &__brand
      color: $Blue
  & .nav__link
    color: #9daeb6
    font-family: OpenSans-Bold, serif
    &:hover
      border-bottom: 2px solid $Blue
      text-decoration: none
      color: $Gray-text
  & .nav__item
      margin-right: 10px
  &-header
    background: rgba(255, 255, 255, 0.2)
    padding-top: 22px
    padding-bottom: 20px
    &__button
      padding: 0
      & button
        border: 4px solid $Blue
        padding: 10px 43px
        font-size: 12px
        font-family: Raleway-Black, serif
        color: $Blue
        &:hover
          background: $Blue
          border: 4px solid $Blue
          color: white
  &-main
    margin: 134px 0 106px 0
    border: 3px solid white
    &__box
      margin: 40px 25px
      & h1:nth-child(1)
        margin-bottom: 0
        font-family: OpenSans-Bold, serif
        color: white
        text-transform: uppercase
        letter-spacing: 4px
        font-size: 50px
      & h1:nth-child(2)
        font-family: Bringin, serif
        color: #56c7ff
        margin-top: -30px
        font-size: 66px
      & p
        color: #d5dadd
        font-family: OpenSans-Regular, serif
        padding: 18px 0
        font-size: 18px
    &__button button
      background: $Blue
      border: 4px solid $Blue
      color: white
      font-family: Raleway-Regular, serif
      text-transform: uppercase
      font-size: 14px
      font-weight: bold
      width: 253px
      height: 60px
      &:hover
        color: white
  &__man
    z-index: 1
    left: 935px
    top: 138px
@media (max-width: 1420px)
  .top-block__man
    display: none
@media (min-width: 1910px)
  .top-block__man
    display: none
@media (max-width: 768px)
  .top-block-logo
    text-align: center
  .top-block-header
    & .nav
      text-align: center
      display: block
      &__menu-link
        color: $Blue
        font-size: 25px
        font-family: Raleway-Black, serif
      &__link
        color: $Gray
  .top-block-header button:focus
    outline-color: $Blue
  .top-block-main
    margin: 20px
    flex: auto
    padding-left: 0
    padding-right: 0
    text-align: center
  .top-block-header__button
    text-align: center
    margin-top: 10px
    & button
      padding: 7px 25px
@media (max-width: 360px)
  .top-block-main
    margin: 0
    border: none


.about-us
  background: $About_back
  &-cont
    padding: 0
  &-box__title
    font-family: OpenSans-Bold, serif
    color: $Black-text
    text-transform: uppercase
    font-size: 16px
  &-box__text
    font-family: OpenSans-Regular, serif
    font-size: 14px
  &-image
    margin-top: -36px
    padding-left: 180px
    &__blog-1
      margin-top: -257px
      margin-left: -90px
      z-index: 2
    &__blog-2
      z-index: 2
  &__map
    z-index: 0
    position: absolute
    margin-left: 100px
    margin-top: 22px
    width: 60vw
  &-col
    padding-bottom: 40px
    padding-left: 15px
  &-box__button button
    background: $Blue
    color: white
    width: 130px
    height: 40px
    text-transform: uppercase
    font-family: OpenSans-Bold, serif
    margin-top: 30px
    font-size: 12px
  &-box__button button:hover
    color: white
@media (max-width: 1610px)
  .about-us-image
    overflow: hidden
@media (max-width: 767px)
  .about-us
    text-align: center
    &-col
      padding-left: 0
    &-box__button button
      width: 253px
      height: 60px
@media (max-width: 991px)
  .about-us-image
    display: none

.journal
  background: white
  &__title
    margin-bottom: 70px
    font-family: OpenSans-Bold, serif
    font-size: 22px
    color: $Black-text
  &__wave
    margin-top: 70px
    margin-bottom: 30px
  & .card
    border-style: none
    height: 380px
  &__shadow
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1)
    margin-bottom: 90px
  &-img img:nth-child(2)
    position: absolute
    top: 39%
    left: 39%
  &-img__triangle
    width: 0
    height: 0
    position: absolute
    &-lake
      left: 50px
      top: 97.5%
      border-left: 10px solid transparent
      border-right: 10px solid transparent
      border-bottom: 10px solid white
    &-forest
      right: 97.5%
      top: 50px
      border-bottom: 10px solid transparent
      border-top: 10px solid transparent
      border-left: 10px solid white
    &-mauntains
      left: 97.5%
      top: 50px
      border-bottom: 10px solid transparent
      border-top: 10px solid transparent
      border-right: 10px solid white
  & .card-body
    padding: 12% 8%
  & .card-link
    font-size: 11px
    text-transform: uppercase
    font-family: OpenSans-Bold, serif
    color: #16b5ef
  & .card-title
    margin-top: 14%
    margin-bottom: 7.8%
    font-size: 16px
    font-family: OpenSans-Bold, serif
    color: #212121
    text-transform: uppercase
    letter-spacing: 2px
  & .card-text
    font-family: OpenSans-Regular, serif
    font-size: 14px
    margin-bottom: 0
  & .card-number
    margin-top: 14%
    color: black
    font-family: "Times New Roman", serif
    font-size: 14px

.do-you
  background-image: url("../image/form/back.png")
  background-size: cover
  height: 652px
  overflow: hidden
  &__pine1
    margin-top: 238px
    z-index: 1
    & img
      margin-left: -20px
  &__pine2
    margin-top: 30px
    z-index: 2
    & img
      margin-left: -70px
  &__text
    margin-top: 145px
    & img
      margin-bottom: 37px
    & h2
      font-family: OpenSans-Bold, serif
      color: black
      text-transform: uppercase
      font-size: 20px
      margin-bottom: 30px
    & span
      font-family: OpenSans-Regular, serif
      font-size: 16px
  &-form
    background: white
    border-radius: 3px
    margin-top: 30px
    &__input
      width: 244px
      padding: 5px 0 5px 20px
    &__phone
      border-left: 2px solid #ebebeb
    & input
      border: none
      font-size: 16px
      font-family: OpenSans-Regular, serif
      width: 100%
      outline: none
    &__button button
      height: 57px
      background: $Blue
      margin: 3px 3px 3px 0
      width: 255px
      color: white
      text-transform: uppercase
      font-family: OpenSans-Bold, serif
      font-size: 16px
      &:hover
        color: white
  &-lock
    font-family: OpenSans-Regular, serif
    font-size: 14px
    color: $Blue
    margin-top: 10px
    margin-left: 3px
    &__img
      margin-left: -3px
      margin-right: 12px

@media (max-width: 1200px)
  .do-you
    height: 500px
  .do-you-form
    background: $About_back
  .do-you-form__button
    width: 100%
    & button
      width: 100%
      margin: 0
  .do-you-form__input
    width: 100%
    padding: 0
    margin-bottom: 5px
    & label
      width: 100%
    & input
      padding: 5px
  .do-you__text
    text-align: center
    margin-top: 30px
  .do-you-lock
    width: 100%
    margin-top: 10px
  .do-you-form__phone
    border-left: none
  .do-you__pine1 .do-you__pine2
    display: none

.work
  height: 700px
  &-card__title
    margin-top: 30px
    font-family: Roboto-Black, serif
    font-size: 18px
    color: $Black-text
  &-card__text
    font-family: Roboto-Light, serif
    font-size: 16px
  &__wave
    margin-bottom: 30px
    margin-top: 70px
  &__title
    font-family: OpenSans-Bold, serif
    font-size: 30px
    color: black
    margin-bottom: 95px
  &-point__grey
    position: absolute
    width: 30px
    border-bottom: 2px dotted #f0f3f6
    margin-left: -96px
    margin-top: 105px
  &-point__imggrey
    margin-left: -20px
  &-point__blue
    position: absolute
    width: 30px
    border-bottom: 2px dotted #b5cddf
    margin-left: 65px
    margin-top: 79px
  &-point__imgblue
    margin-left: 6px
  &-card
    &__circle
      width: 180px
      height: 180px
      background: #f0f3f6
      -moz-border-radius: 90px
      -webkit-border-radius: 90px
      border-radius: 90px
      z-index: 1
    &__hexagon
      margin-top: 25px
    &__icon
      position: absolute
      margin-top: 67px
      margin-left: -78px
    &__des
      margin-top: -90px
    &-border
      height: 166px
      width: 79%
      margin-top: -10px
      &__con
        border-top: 2px dashed #f0f3f6
        border-left: 2px dashed #f0f3f6
        width: 290px
        border-bottom: 2px dotted #f0f3f6
      &__grey
        border-bottom-color: #b5cddf
      &__blue
        border-right: 2px dashed #f0f3f6
        border-bottom-color: #b5cddf
      &__circle
        width: 48px
        height: 48px
        border: 3px solid $Blue
        border-radius: 24px
        background: white
        margin-left: -24px
        margin-top: -24px
        padding-top: 12px
      &__4
        margin-right: -30px
    &-arrow
      width: 11px
      height: 2px
      background: linear-gradient(151deg, rgba(255,255,255,1) 0%, rgba(214,224,231,1) 100%)
      margin-top: 47.5%
      margin-left: 50%
      transform: rotate(45deg)
    &-arrow2
      width: 11px
      height: 2px
      background: linear-gradient(151deg, rgba(255,255,255,1) 0%, rgba(214,224,231,1) 100%)
      margin-top: 1.5%
      margin-left: 50%
      transform: rotate(-45deg)
    &-arrow__blue
      background: linear-gradient(151deg, rgba(255,255,255,1) 0%, rgba(103,163,204,1) 100%)
@media (max-width: 1199px)
  .work-card-arrow__blue
    display: none
  .work-card-arrow
    display: none
  .work-card-arrow2
    display: none
@media (max-width: 575px)
  .work-card__des
    margin-top: 20px
  .work
    height: 100%


.travel
  &__wave
    margin-bottom: 10px
  & .card-img-overlay
    padding-top: 10px
    padding-bottom: 10px
  &__title
    font-family: OpenSans-Bold, serif
    font-size: 30px
    color: $Black-text
    padding-top: 10px
  &__map
    position: absolute
    margin-left: -5%
    width: 67vw
  &-con
    margin-top: 96px
    color: white
    font-size: 16px
    font-family: OpenSans-Regular, serif
  &-card__title
    font-size: 28px
  &-card__sum
    font-size: 26px
    font-weight: 900
  &-card__del
    font-size: 18px
    font-weight: normal
@media (max-width: 1200px)
  .travel__wave
    margin-top: 70px
  .travel__map
    left: 20%
@media (max-width: 1200px) and (min-width: 767px)
  .travel-con
    font-size: 12px
  .travel-card__sum
    font-size: 12px
  .travel-card__del
    font-size: 12px
  .travel-card__title
    font-size: 12px
@media (max-width: 767px)
  .travel .card-deck
    flex-direction: column
    overflow: hidden
  .travel
    .card
      border: none
  .travel-card .card-img
    height: 300px
@media (max-width: 990px) and (min-width: 768px)
  .travel-card__stars img
    width: 100%

.travel-back
  background-image: url("../image/travel/back_tavel.png")
  background-size: cover
  height: 802px
  margin-top: -330px
@media (max-width: 767px)
  .travel-back
    margin-top: -700px

.gallery
  &__wave
    margin-top: 70px
    margin-bottom: 35px
  &__title
    font-family: OpenSans-Bold, serif
    font-size: 30px
    color: $Black-text
  &__img
    padding-top: 30px
  &__img4
    margin-top: -8.3%
  &__con
    margin-top: 55px
    margin-bottom: 77px
@media (max-width: 760px)
  .gallery__img4
    margin-top: 0

.linkline
  background: #f8f9fa
  height: 100%
  padding: 70px 0
@media(max-width: 768px)
  .linkline
    text-align: center
    padding-top: 10px
    padding-bottom: 10px
    &__img
      margin-top: 20px

.clients
  background-image: url("../image/clients/mountins_back.png")
  height: 744px
  &__wave
    margin-top: 70px
    margin-bottom: 35px
  &__title
    font-family: OpenSans-Bold, serif
    font-size: 30px
    color: $Black-text
  &-con
    margin-top: 60px
    &-con__text
      font-size: 18px
    &__quotes
      font-family: LeagueGothic-Regular, serif
      font-size: 92px
      margin: 0
      height: 80px
    &__img
      margin-top: 25px
      font-size: 16px
      color: $Blue
      font-family: OpenSans-Regular, serif
      & img
        padding-right: 20px
@media (max-width: 767px)
  .clients .container
    padding: 0
  .clients-con__block
    padding: 0 25px 20px 25px
  .clients-con
    margin-top: 10px
    background: rgba(255, 255, 255, 0.3)
    backdrop-filter: blur(30px)
    border-radius: 5px
    margin-bottom: 10%
    width: 100%
  .clients-con__sign
    font-size: 13px
    text-shadow: 0.1px 0.1px 0.1px white
    font-weight: bold


.contacts
  background-image: url("../image/contacts_back.png")
  margin-top: -330px
  padding-top: 145px
  padding-bottom: 180px
  .form-group
    margin-bottom: 0
  &-form
    width: 515px
    margin: auto
    padding: 43px 32px 50px 32px
    background: rgba(255, 255, 255, 0.2)
    border-radius: 5px
    backdrop-filter: blur(30px)
    &__title
      font-size: 36px
      font-family: OpenSans-Bold, serif
      letter-spacing: 5px
      color: $Blue
      margin-bottom: 10px
    &__text
      font-family: OpenSans-Bold, serif
      font-size: 16px
      color: #383e4a
      margin-bottom: 37px
    &__input
      padding: 26px 20px 26px 20px
      font-size: 18px
      font-family: Roboto-Light, serif
    &__button
      margin-top: 18px
    &__button button
      width: 100%
      background: $Blue
      height: 65px
      border: none
      font-family: OpenSans-Bold, serif
      &:hover
        background: $Blue
@media (max-width: 767px)
  .contacts
    padding-bottom: 10px
    .container
      margin-left: 0
      margin-right: 0
      padding-right: 0
      padding-left: 0
  .contacts-form
    width: 100%
    padding-left: 2px
    padding-right: 2px
    padding-bottom: 20px
    margin-top: 230px
    margin-bottom: 20px
    &__input
      padding: 10px 5px 10px 5px
      width: 90%
      margin: auto
  .contacts-form__button
    width: 90%
    margin: 18px auto 50px
@media (max-width: 767px) and (min-width: 610px)
  .contacts-form
    margin-left: 10vw

@media (max-width: 480px)
  .contacts
    margin-top: -220px
    &-form__text
      margin-bottom: 10px
@media (max-width: 320px)
  .contacts
    margin-top: -150px

.footer
  background-image: url("../image/footer.png")
  background-size: cover
  &-con
    padding: 25px 0 15px
    &__text
      font-family: OpenSans-Regular, serif
      font-size: 18px
      color: #6a95a3
    &__phone
      font-family: Roboto-Black, serif
      font-size: 27px
      color: #7cc0d4
    &__img
      width: 40px
      height: 40px

